/*
h1{
    color:blue;
    font-size: 45px;
}
*/
.titulo_um{
    color: blue;
}
.titulo_dois{
    color: brown;
}

.box{
    background-color: brown;
    
    /*width: 100px;Largura(px, %, vw)*/
    /*height: 100px;Altura (px, %, vh)*/
    border: 5px solid;
    margin: 10px;   /*Margin é o espaço fora da bordar */
    padding: 10px;
    padding-top: 25px;  




    /* border-top: 1px solid;
    border-right: 2px solid;
    border-bottom: 5px solid;
    border-left: 6px solid; */
}