*{
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 41px;
    padding: 8px 8px 8px 8px;
    box-shadow: 0px 5px 15px rgba(46, 123, 140, 0.32);
    background: #204959;
    position: fixed;
    z-index: 1;
}

header #submenu {
    display: flex;
    justify-content:center;
    justify-content: space-between;
    align-items: center;
    text-align: center;  
    width: 256px;
    height: 43px;
    padding: 8px 20px;
    box-shadow: 0px 5px 15px rgba(32, 73, 89, 0.32);
    background: #2E7B8C;
    border-radius: 10px 10px 10px 10px;
    margin-top: 1em;
    position:fixed;
    
}

#submenu a{
    width: auto;
    height: auto;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #C0C0C0;
    font-family: "Helvetica";
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    text-decoration: none;
}

#submenu a:hover{
    color:#204959;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    width: 100vw;
    height: 100vh;  

}
section{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    width: 5em;
    height: auto;
    
}

section img{
    width: 152px;
    height: 152px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #00000000;
    border-radius: 10px 10px 10px 10px;
    margin: 1em;
}


footer{     
    
    width: 100vw;
    height: auto;
    padding: 8px 8px 8px 8px;    
    background: #204959;
    position: fixed;
    bottom: 0;
}

footer img{
    width: 5em;
    height: 5em;
    align-items: end;      
}

@media only screen and (min-width: 680px){   
    
    header #submenu {      
        width: 30em;
        height: 2em;
       
        margin-top: 2em; 
        position: none;   
    }

    #submenu a{
        font-size: 18px;
    }
    
    main{
        width: 100vw;
        height: 100vh;
        flex-direction: row;
    }
    
    section{
        
        width: 100em;
        height: auto;    
    }

    section img{
        width: 20em;
        height: 30em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #00000000;
        border-radius: 10px 10px 10px 10px;
        margin: 1em;
    }
}

@media only screen and (min-width: 1024px){
    header{
        height: 5em;
        position: none;
    }
    
    header #submenu {      
        width: 30em;
        height: 2em;
        font-size: 24px;
        margin-top: 2em; 
        position: none;   
    }    
    
    main{
        width: 100vw;
        height: 100vh;
        flex-direction: row;
    }
    
    section{
        
        width: 100em;
        height: auto;    
    }

    section img{
        width: 20em;
        height: 30em;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background: #00000000;
        border-radius: 10px 10px 10px 10px;
        margin: 1em;
    }
}
